<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Disabled</key>
            <false/>
		<key>UserName</key>
		    <string>_mongo</string>
		<key>GroupName</key>
		    <string>_mongo</string>
		<key>KeepAlive</key>
		    <true/>
		<key>Label</key>
		    <string>org.mongodb.mongod</string>
		<key>Program</key>
		    <string>/opt/local/bin/mongod</string>
		<key>ProgramArguments</key>
    		<array>
    			<string>/opt/local/bin/mongod</string>
    			<string>--dbpath</string>
    			<string>/opt/local/var/db/mongodb</string>
    			<string>--logpath</string>
    			<string>/opt/local/var/log/mongodb/mongodb.log</string>
    			<string>--logappend</string>
    			<string>--ipv6</string>
                <string>--keyFile</string>
                <string>/opt/local/var/db/mongodb/keyFile</string>
		    </array>
		<key>RunAtLoad</key>
		    <true/>
        <key>SoftResourceLimits</key>
            <dict>
                <key>NumberOfFiles</key>
                <integer>1024</integer>
            </dict>
	<!--<key>Umask</key>
            <integer>7</integer>
        <key>WorkingDirectory</key>
            <string>/opt/local</string> -->
	</dict>
</plist>
